<!-- A DIRECT COPY OF recommender/templates/recommender_template.html -->

{{#if items}}
<div class="s-right-col-widget-container">

<div>
    <i class="icon-help pull-right" style="margin-top:7px" data-toggle="popover" data-placement="left" data-content="Hello! I'm the Hopper widget." data-container=".hopper-widget"></i>
    <h4 class="s-right-col-widget-title">Bibcodes (Hopper Widget)</h4>
</div>


<ul class="list-unstyled">

    {{#each items}}
        {{#compare @index 0 operator="<="}}
        <div>
            <li>
                <a href="#abs/{{bibcode}}">{{title}} <i class="s-bibcode">{{bibcode}}</i> </a>;
            </li>
        </div>
        {{/compare}}
    {{/each}}

     {{#each items}}
        {{#compare @index 0 operator=">"}}
        <div class="hidden additional-papers">
            <li>
                <a href="#abs/{{bibcode}}">{{title}} <i class="s-bibcode">{{bibcode}}</i> </a>;
            </li>
        </div>
        {{/compare}}
    {{/each}}
    <button class="btn btn-xs btn-default button-toggle">more</button>
</ul>

{{/if}}
</div>
